* {
    margin: 0;
    padding: 0;
}

.small-details-container {
    display: none;
}

.details-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 100px auto 0 auto;
    padding: 0px;
    gap: 125px;

    width: 1125px;
}

.details-poster {
    width: 500px;
    height: auto;
    border-radius: 3px;
}

/*Text info*/

.details-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.return-arrow {
    width: 10px;
}

.return-arrow:hover {
    cursor: pointer;
}

.general-info {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px
}

.general-info h1 {
    font-size: 2rem;
}

.add-favorites {
    background-color: transparent;
    padding: 8px 12px;
    color: #F9F6F1;
    border: 2px solid rgba(102, 105, 106, 0.2);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.add-favorites:hover {
    cursor: pointer;
}

.specific-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.specific-container h2 {
    font-size: 1rem;
}

.specific-container > ul {
    list-style: none;
}

.credits {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 60px
}

.grey {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
}

@media only screen and (max-width: 1440px){
    .details-container {
        width: 900px;
        gap: 50px;
    }

    .details-poster {
        width: 425px;
    }

    .details-info-container {
        gap: 25px;
    }
    
}

@media only screen and (max-width: 1000px){
    .details-container {
        display: none;
    }
    
    .small-details-container {
        display: block;
        width: 500px;
        margin: 100px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .small-general-info {
        display: flex;
        align-items: flex-start;
        gap: 25px;
    }

    .extra-small-rating {
        display: none;
    }

    .small-details-poster {
        width: 200px;
    }

    .small-general-info-text {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 15px
    }

    .small-rating {
        display: flex;
        flex-direction: column;
        gap: 15px
    }

    .small-text-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}

@media only screen and (max-width: 600px){

    .small-details-container {
        width: 90vw;
    }

    .small-details-poster {
        width: 100px;
    }
}


@media only screen and (max-width: 500px){

    .small-rating {
        display: none;
    }

    .extra-small-rating {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 400px){

    .credits {
        flex-direction: column;
        gap:20px
    }
}


