.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    margin: 0;
    gap: 171px;

    position: absolute;
    width: 1440px;
    height: 32px;
    left: 0px;
    top: 33px;

}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13.2px;

    width: 225.2px;
    height: 28px;
}

h1.concealed-title {
    font-weight: 600;
    font-size: 23.1px;
    line-height: 27.96px;
    margin: 0;
    padding: 0;
}

h1.concealed-title.red {
    width: 68px;
    height: 28px;
    font-weight: 400;
    font-size: 23.1px;
    line-height: 28px;
    color: #D81F26;
}


.concealed-title:hover {
    cursor: pointer;
}


.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 26px;
}

.header-nav > img {
    width: 24px;
    height: 24px;
}

.header-nav > form {
    position: relative;
}

.header-search {
    box-sizing: border-box;
    width: 284px;
    height: 40px;
    color: #F9F6F1;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    background-color: transparent;
    border: 1px solid rgba(102, 105, 106, 0.2);
    border-radius: 12px;
}

.header-search:focus {
    border-radius: 12px 12px 0px 0px;
    outline: none;
}

.suggestion-box {
    position: absolute;
    width: 284px;
    height: 120px;
    left: 0px;
    top: 40px;

    background: #131C23;
    opacity: 100%;
    border-radius: 0px 0px 8px 8px;
}

.profile-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 64px;
    height: 32px;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}
