.displayer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 44px;

    margin: auto;
    margin-top: 64px;

    width: 1360px;
    height: 47px;
}

.result-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 210px;
    height: 47px;
}

.result-description h4 {
    width: 147px;
    height: 24px;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.result-description p {
    width: 210px;
    height: 19px;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.6);


}

.order-selector {
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 12px;

    width: 253px;
    height: 40px;

    background: #09131A;
    border: 1px solid rgba(102, 105, 106, 0.2);
    border-radius: 8px;

}

.order-selector:hover {
    background-color: #131C23;

}

.order-selector > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.sort-options {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 253px;
    height: 78px;

    left: -1px;
    top: 40px;

    background: #131C23;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
}

.sort-options div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;

    width: 253px;
    height: 39px;

    border-radius: 8px;
}

.sort-options div span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.arrow-up {
    transform: rotate(-180deg);
    transition: all 0.2s ease-in-out;
}

.arrow-down {
    transform: rotate(0);
    transition: all 0.2s ease-in-out;
}


/*Content*/

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    margin: auto;
    margin-top: 44px;

    width: 1360px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 40px;

    width: 1360px;
    min-height: 1004px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-top: 60px;
    margin-bottom: 80px;
    width: 1360px;
    height: 32px;
}


.order-selector option {
    color: black;
}

@media only screen and (max-width: 1440px) {
    
    .displayer-header {
        width: 900px;
    }

    .results-container {
        width: 1000px;
    }
    
    .cards-container {
        width: 1000px;
    }

    .pagination {
        width: 1000px;
    }
}

@media only screen and (max-width: 1000px) {
    
    .displayer-header {
        width: 500px;
        height: 100px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        margin-top: 45px;
    }

    .result-description {
        flex-direction: column;
        align-items: center;
        width: fit-content;
        height: 47px;
    }
    
    .result-description h4,
    .result-description p {
        width: fit-content;
    }



    .results-container {
        width: 600px;
    }
    
    .cards-container {
        width: 600px;
    }

    .pagination {
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {

    .displayer-header {
        width: 100%;
    }

    .results-container {
        width: 100%;
    }

    .cards-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .pagination {
        width: 100%;
    }
}



