.pagination-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 8px;

    width: 272px;
    height: 32px;
}

.pagination-nav span {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.page-selector:hover {
    cursor: pointer;
}

span.active-page {
    color:#D81F26;
}