.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;
    margin: 280px auto 0 auto;
    width: 462px;
    height: 334.77px;
}

.search-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    gap: 24px;

    width: 321.23px;
    height: 200.77px;
}

.search-pic-container img {
    width: 270px;
    height: 167px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin: 0;

    width: 462px;
    height: 84px;

}

.search-title {
    width: 224px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0;

    color: #FFFFFF;
}

.search-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    width: 462px;
    height: 40px;
    border: 1px solid #363B3F;
    border-radius: 12px;
}

.search-input img {
    width: 24px;
    height: 24px;
}

.search-input input {
    border: none;
    background-color: transparent;
    width: 406px;
    height: 24px;

    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.01em;

    color: #F9F6F1;
}

.search-input input:focus {
    outline: none;
}

.search-form form {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .search-box {
        width: 100vw;
        margin: 100px auto 0 auto;
    }
    
    .search-pic-container {
        width: 90vw;
    }
    
    .search-pic-container img {
        max-width: 90vw;
        height: auto;
    }
    
    .search-form {    
        width: 100vw;    
    }
    
    .search-input {
        width: 290px;
        height: 40px;
    }
    
    .search-input input {
        width: 230px;
    }
}

@media only screen and (max-width: 300px) {
    
    .search-input {
        width: 230px;
        height: 40px;
    }
    
    .search-input input {
        width: 170px;
    }
}

