body {
  margin: 0;
  background-color: #09131A;
  color: #FFFFFF;
  font-family: "Inter", "cursive";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
